<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newthread.framework.mapper.ImagesMapper">
  <resultMap id="BaseResultMap" type="com.newthread.entity.Images">
    <constructor>
      <idArg column="img_sid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_origin_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_upload_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="img_timestamp" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_note" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>

  <resultMap id="BaseModelResultMap" type="com.newthread.model.MienImageModel">
    <constructor>
      <idArg column="img_sid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from images
    where img_sid = #{imgSid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newthread.entity.Images">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into images (img_sid, img_type, img_origin_name, 
      img_name, img_path, img_comment, 
      img_upload_time, img_timestamp, user_account, 
      img_note)
    values (#{imgSid,jdbcType=INTEGER}, #{imgType,jdbcType=INTEGER}, #{imgOriginName,jdbcType=VARCHAR}, 
      #{imgName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{imgComment,jdbcType=VARCHAR}, 
      #{imgUploadTime,jdbcType=TIMESTAMP}, #{imgTimestamp,jdbcType=BIGINT}, #{userAccount,jdbcType=VARCHAR}, 
      #{imgNote,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newthread.entity.Images">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update images
    set img_type = #{imgType,jdbcType=INTEGER},
      img_origin_name = #{imgOriginName,jdbcType=VARCHAR},
      img_name = #{imgName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      img_comment = #{imgComment,jdbcType=VARCHAR},
      img_upload_time = #{imgUploadTime,jdbcType=TIMESTAMP},
      img_timestamp = #{imgTimestamp,jdbcType=BIGINT},
      user_account = #{userAccount,jdbcType=VARCHAR},
      img_note = #{imgNote,jdbcType=LONGVARCHAR}
    where img_sid = #{imgSid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select img_sid, img_type, img_origin_name, img_name, img_path, img_comment, img_upload_time, 
    img_timestamp, user_account, img_note
    from images
    where img_sid = #{imgSid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select img_sid, img_type, img_origin_name, img_name, img_path, img_comment, img_upload_time,
    img_timestamp, user_account, img_note
    from images
  </select>

  <select id="selectByPhotoSid" parameterType="java.lang.String" resultMap="BaseModelResultMap">
    select img_sid,  img_name img_path, img_comment
    from images WHERE img_note = #{sid,jdbcType=VARCHAR}
  </select>

</mapper>