<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newthread.framework.mapper.TeammienMapper">
    <resultMap id="BaseResultMap" type="com.newthread.entity.Teammien">
        <constructor>
            <idArg column="mien_sid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="mien_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_time" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="mien_timesstamp" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_introduce" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="mien_note" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="BaseModelResultMap" type="com.newthread.model.MienModel">
        <constructor>
            <idArg column="mien_sid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="mien_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_time" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="mien_timesstamp" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="mien_introduce" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="mien_note" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="thumb" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from teammien
        where mien_sid = #{mienSid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.newthread.entity.Teammien">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into teammien (mien_sid, mien_title, mien_type,
        mien_time, mien_timesstamp, mien_introduce,
        mien_note)
        values (#{mienSid,jdbcType=INTEGER}, #{mienTitle,jdbcType=VARCHAR}, #{mienType,jdbcType=INTEGER},
        #{mienTime,jdbcType=DATE}, #{mienTimesstamp,jdbcType=INTEGER}, #{mienIntroduce,jdbcType=LONGVARCHAR},
        #{mienNote,jdbcType=LONGVARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.newthread.entity.Teammien">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update teammien
        set mien_title = #{mienTitle,jdbcType=VARCHAR},
        mien_type = #{mienType,jdbcType=INTEGER},
        mien_time = #{mienTime,jdbcType=DATE},
        mien_timesstamp = #{mienTimesstamp,jdbcType=INTEGER},
        mien_introduce = #{mienIntroduce,jdbcType=LONGVARCHAR},
        mien_note = #{mienNote,jdbcType=LONGVARCHAR}
        where mien_sid = #{mienSid,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select mien_sid, mien_title, mien_type, mien_time, mien_timesstamp, mien_introduce,
        mien_note
        from teammien
        where mien_sid = #{mienSid,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select mien_sid, mien_title, mien_type, mien_time, mien_timesstamp, mien_introduce,
    mien_note
    from teammien
  </select>

    <select id="selectByType" resultMap="BaseResultMap">
    select mien_sid, mien_title, mien_type, mien_time, mien_timesstamp, mien_introduce,
    mien_note
    from teammien WHERE mien_type = #{mienType,jdbcType=INTEGER}
  </select>

    <select id="selectByTypeModel" resultMap="BaseModelResultMap">
SELECT mien_sid, mien_title, mien_type, mien_time, mien_timesstamp, mien_introduce,
  mien_note,i.img_name as thumb FROM teammien t LEFT JOIN images i ON t.mien_sid = i.img_note AND i.img_type = 2 GROUP BY t.mien_sid;
    </select>

</mapper>