*{
	font-family: 'Microsoft Yahei' !important;
}
.banner{
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.banner img{
	width: 100%;
}
.nav{
	overflow: hidden;
	width: 1180px;
	margin: 50px auto 0px;
}
.nav ul li a{
	text-decoration: none;
	color:#333;
}
.nav ul:first-of-type li{
	text-align: center;
	float: left;
	width: 95px;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	border: 1px solid black;
	margin-right: 30px;
}

.nav ul:first-of-type li:hover{
	cursor: pointer;
	border: 1px #33ccff solid;
    background-color: #33ccff;
}
.nav ul:first-of-type li:hover>a{
	color:#fff;
}
.nav ul:last-of-type{
	float: right;
}
.nav ul:last-of-type li{
	float: left;
	line-height: 30px;
}
.nav ul:last-of-type li a{
	float: left;
	line-height: 30px;
	text-decoration: none;
	color:#333;
}
.nav ul:last-of-type li a:hover{
	color: #33ccff;
}

 .positionl li:last-child>a{
    color: #33ccff !important;
    text-decoration: underline;
}

.nav ul:last-of-type li img{
	vertical-align: middle;
	margin-right: 15px;
}
.middle_head{
	margin-top: 75px;
}
.middle_head{
	text-align: center;
}

#change_btn a{
	margin-right: 5px;
	text-decoration: none;
}


.middle{
	overflow: hidden;
}
.news_head > h1{
	font-size: 30px;
	line-height: 1.7;
}
.news_head > h2{
	font-size: 20px;
	color: #999999;
	display: inline-block;
	float: left;
}
.on {
    border: 1px #33ccff solid !important;
    background-color: #33ccff !important;
}
.on>a{
	color:#fff !important;
}
.news_middle{
	width: 62%;
	background: #f6f7f9;
	margin: 0 auto;
}
.news_content{
	padding-top: 60px;
	padding-bottom: 20px;
	margin: 0px 60px;
	overflow: hidden;
	line-height: 1.7;
	border-bottom: 1px solid #cccccc;
}
.news_content img{
	width: 30%;
}
.news_middle img{
	float: left;
}
.news_middle article{
	margin-left: 300px;
}
.news_middle h1{
	font-size: 30px;
}
.news_middle h3{
	font-size: 20px;
	color: #c5c5c7;
}
.title{
	display: flex;
	display: -webkit-flex;
	margin-bottom: 70px;
}
.title hr{
	flex: 1;
}
.title h2{
	flex: .5;
	color: #999999;
}

/* 控制分页样式*/
#change_btn{
	text-align: center;
	margin-top: 100px;
}

#change_btn a{
	display: inline-block;
	margin-right: 15px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid black;
	color: black;
}
#change_btn span{
	line-height: 30px;
}

#change_btn a:hover{
	background: #41bfed;
	color: white;
	border: 1px solid transparent;
}

.current{
	display: inline-block;
	line-height: 30px;
	background: #41bfed;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: white;
	margin-right: 15px;
	border: 1px solid #41bfed;
}

.disabled{
	display: none;
}




.row{
	margin-bottom: 9.8%;
}
.re_middle{
	width: 56.25%;
	margin: 0 auto;
}
.re_box{
	position: relative;
	width: 27%;
	overflow: hidden;
}
.re_box:first-of-type{
	float: left;
}
.re_box:nth-of-type(2){
	float: right;
}
.re_box:last-of-type{
	margin: 0 36.8%;
}
.re_box img{
	display: block;
	width: 100%;
	height: 100%;
}
.article{
	position: absolute;
	width: 100%;
	padding: 10px 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1rem;
	text-align: center;
}
.article_1{
	width: 100%;
	padding: 10px 0px;
}
.pa_row{
	text-align: center;
}
.pa_row img{
	width: 20%;
	margin: 0 2.2n%;
}