@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
p {
  font-family: "Microsoft Yahei", "微软雅黑";
}
header {
  width: 100%;
  *zoom: 1;
}
header:before,
header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
header .old_version {
  width: 100%;
  height: 40px;
  background-color: #33ccff;
}
header .old_version > div {
  width: 380px;
  height: 40px;
  margin-left: 62.7%;
}
header .old_version a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  margin: 0 4px;
  height: 40px;
  line-height: 40px;
  float: left;
  display: inline;
}
header .old_version a:hover {
  text-decoration: underline;
}
header .old_version .search {
  width: 180px;
  height: 22px;
  float: left;
  display: inline;
  background-color: #33ccff;
  border: solid 1px #fff;
  margin-top: 9px;
  margin-left: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
header .old_version .search_input {
  width: 148px;
  float: left;
  display: inline;
  height: 13px;
  line-height: 13px;
  background-color: #33ccff;
  border: none;
  color: #ffffff;
  margin-left: 7px;
  margin-top: 5px;
}
header .old_version .search_btn {
  width: 16px;
  height: 16px;
  background: url("../../image/search.jpg") center no-repeat;
  float: right;
  display: inline;
  margin-right: 5px;
  margin-top: 3px;
  border: none;
}
header .logo {
  height: 100px;
  width: 1240px;
  margin: 0 auto;
  background-color: #ffffff;
}
header .logo .log {
  height: 70px;
  width: 195px;
  background: url("../../image/logo.jpg") left top no-repeat;
  margin-top: 15px;
  float: left;
  display: inline;
}
header .logo .log a {
  display: block;
  height: 100%;
  text-indent: -99em;
}
header .logo .headerNav {
  float: right;
  display: inline;
  height: 40px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  margin-top: 48px;
}
header .logo .headerNav li {
  float: left;
  display: inline;
  margin-left: 40px;
  height: 35px;
  text-align: center;
}
header .logo .headerNav li:hover div {
  width: 100%;
  border-bottom: 3px solid #33ccff;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
header .logo .headerNav li div {
  width: 0;
  margin-top: 10px;
}
header .logo .headerNav li a {
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  color: #333333;
}
header .logo .headerNav li a:hover {
  color: #000000;
}
.banner {
  width: 100%;
  height: 670px;
  position: relative;
  overflow: hidden;
}
.banner div {
  display: none;
  position: absolute;
}
.banner #prev {
  position: absolute;
  display: block;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 100px;
  cursor: pointer;
  color: #605654;
  opacity: 0.2;
  left: 40px;
  top: 269px;
  z-index: 12;
}
.banner #prev:hover {
  opacity: 1;
}
.banner #next {
  position: absolute;
  display: block;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 100px;
  cursor: pointer;
  color: #605654;
  opacity: 0.2;
  top: 269px;
  right: 40px;
  z-index: 12;
}
.banner #next:hover {
  opacity: 1;
}
.banner #buttons {
  display: block;
  width: 330px;
  height: 10px;
  z-index: 10;
  top: 620px;
  left: 42%;
}
.banner #buttons span {
  width: 80px;
  height: 10px;
  display: block;
  float: left;
  background-color: #fff;
  margin-right: 45px;
}
.banner #buttons span:last-child {
  margin-right: 0;
}
.banner #buttons .onactive {
  background-color: #33ccff;
}
.banner #chose {
  width: 100%;
  height: 670px;
  display: block;
  background-color: rgba(140, 143, 141, 0.5);
}
.banner img {
  width: 100%;
  height: 670px;
}
.banner .show {
  width: 100%;
  display: block;
}
.content {
  position: relative;
  width: 100%;
  *zoom: 1;
}
.content:before,
.content:after {
  display: table;
  content: "";
}
.content:after {
  clear: both;
}
.content .Team_Introduction {
  margin: 0 auto;
  margin-top: 90px;
  *zoom: 1;
  position: relative;
}
.content .Team_Introduction:before,
.content .Team_Introduction:after {
  display: table;
  content: "";
}
.content .Team_Introduction:after {
  clear: both;
}
.content .Team_Introduction .TI_head {
  width: 100%;
}
.content .Team_Introduction .TI_head h1 {
  width: 120px;
  height: 40px;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: normal;
}
.content .Team_Introduction .TI_head p {
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
  font-weight: normal;
}
.content .Team_Introduction .TI_head div {
  height: 20px;
  float: left;
}
.content .Team_Introduction .TI_head div:nth-child(2) {
  width: 44%;
  height: 1px;
  border-bottom: solid 1px #999999;
}
.content .Team_Introduction .TI_head div:nth-child(3) {
  float: right;
  width: 44%;
  height: 1px;
  border-bottom: solid 1px #999999;
}
.content .Team_Introduction .TI_head div:nth-child(5) {
  position: absolute;
  width: 80px;
  height: 5px;
  left: 48%;
  margin-top: 8px;
  background-color: #33ccff;
}
.content .Team_Introduction .position {
  width: 1090px;
  margin: 0 auto;
}
.content .Team_Introduction .Introduction {
  position: relative;
  *zoom: 1;
  width: 100%;
  margin-top: 105px;
}
.content .Team_Introduction .Introduction:before,
.content .Team_Introduction .Introduction:after {
  display: table;
  content: "";
}
.content .Team_Introduction .Introduction:after {
  clear: both;
}
.content .Team_Introduction .Introduction:hover .juzheng {
  width: 300px;
  height: 200px;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  transform: translateY(80px);
  border: 5px solid #ffffff;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.content .Team_Introduction .Introduction img {
  width: 545px;
  height: 340px;
  float: left;
  display: inline;
}
.content .Team_Introduction .Introduction .juzheng {
  display: block;
  position: absolute;
  left: 100px;
}
.content .Team_Introduction .Introduction .word {
  width: 545px;
  height: 340px;
  background-color: #33ccff;
  float: left;
  display: inline;
}
.content .Team_Introduction .Introduction .word h1 {
  width: 330px;
  font-size: 30px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 55px;
  font-weight: normal;
}
.content .Team_Introduction .Introduction .word p {
  width: 396px;
  font-size: 15px;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 80px;
  line-height: 2em;
  overflow: hidden;
}
.content .Team_Introduction .Introduction .word a {
  font-size: 15px;
  color: #ffffff;
  display: block;
  margin-top: 30px;
  margin-left: 435px;
}
.content .Team_Introduction .Introduction .word a:hover {
  text-decoration: underline;
}
.content .Team_ynamics {
  width: 100%;
  background-color: #33ccff;
  margin-top: 95px;
}
.content .Team_ynamics h1 {
  color: #ffffff;
}
.content .Team_ynamics p {
  color: #ffffff;
}
.content .Team_ynamics .TI_head div:nth-child(3) {
  float: left;
  border: none;
  width: 80px;
  height: 5px;
  margin-left: 48%;
  margin-top: 8px;
  background-color: #ffffff;
}
.content .Team_ynamics .dynamics {
  width: 1195px;
  *zoom: 1;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 85px;
  background-color: #33ccff;
}
.content .Team_ynamics .dynamics:before,
.content .Team_ynamics .dynamics:after {
  display: table;
  content: "";
}
.content .Team_ynamics .dynamics:after {
  clear: both;
}
.content .Team_ynamics .dynamics .ds_content {
  height: 210px;
  width: 570px;
  position: relative;
  background-color: #ffffff;
  float: left;
  display: inline;
}
.content .Team_ynamics .dynamics .ds_content img {
  width: 190px;
  height: 175px;
  margin-top: 15px;
  margin-left: 10px;
}
.content .Team_ynamics .dynamics .ds_content .substance {
  width: 340px;
  float: right;
  display: inline;
  margin-right: 25px;
}
.content .Team_ynamics .dynamics .ds_content h2 {
  width: 340px;
  font-size: 20px;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .Team_ynamics .dynamics .ds_content p {
  width: 340px;
  height: 60px;
  font-size: 15px;
  font-weight: normal;
  color: #999999;
  overflow: hidden;
}
.content .Team_ynamics .dynamics .ds_content .time {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  margin-top: 15px;
}
.content .Team_ynamics .dynamics .ds_content .time:hover {
  background-color: #33ccff;
  -webkit-animation: changewidth .5s linear 0s;
  -moz-animation: changewidth .5s linear 0s;
  animation: changewidth .5s linear 0s;
}
.content .Team_ynamics .dynamics .ds_content .time:hover a {
  border: 2px solid #ffffff;
  background-color: #33ccff;
  color: #ffffff;
}
.content .Team_ynamics .dynamics .ds_content .time:hover .hour {
  color: #ffffff;
}
.content .Team_ynamics .dynamics .ds_content .time:hover .year {
  color: #ffffff;
}
.content .Team_ynamics .dynamics .ds_content .time a {
  width: 36px;
  height: 36px;
  border: 2px solid #999999;
  border-radius: 50%;
  float: right;
  display: inline;
  text-align: center;
  line-height: 31px;
  color: #999999;
  font-size: 35px;
  position: absolute;
  top: 135px;
  left: 495px;
}
.content .Team_ynamics .dynamics .ds_content .time .hour {
  font-size: 30px;
  position: absolute;
  height: 35px;
  margin-left: 10px;
  top: 125px;
}
.content .Team_ynamics .dynamics .ds_content .time .year {
  height: 20px;
  margin-left: 10px;
  position: absolute;
  top: 160px;
}
.content .Team_ynamics .dynamics .ds_content:nth-child(2) {
  margin-left: 55px;
}
.content .Team_ynamics .dynamics .ds_content:nth-child(3) {
  margin-top: 45px;
}
.content .Team_ynamics .dynamics .ds_content:nth-child(4) {
  margin-left: 55px;
  margin-top: 45px;
}
.content .teamgroup {
  width: 100%;
  position: relative;
}
.content .group_w {
  width: 1313px;
  position: relative;
  margin: 0 auto;
}
.content #group {
  width: 1060px;
  height: 265px;
  margin: 0 auto;
  margin-top: 90px;
  position: relative;
  overflow: hidden;
}
.content #group #list {
  width: 5300px;
  height: 265px;
  margin: 0 auto;
  position: absolute;
}
.content #group #list div {
  width: 250px;
  height: 265px;
  float: left;
  display: inline;
  margin-right: 20px;
}
.content #group #list div:nth-child(4n) {
  margin-right: 0px;
}
.content #group #list div:hover a {
  color: #ffffff;
  background-color: #33ccff;
}
.content #group #list div img {
  width: 250px;
  height: 205px;
}
.content #group #list div a {
  display: block;
  width: 250px;
  height: 60px;
  background-color: #ffffff;
  text-align: center;
  margin-top: -3px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  line-height: 60px;
  color: #000000;
}
.content #group #list div a:hover span {
  color: #ffffff;
}
.content #group #list div a span {
  float: left;
  display: inline;
  position: relative;
  left: 225px;
  color: #999999;
}
.content #team_prev {
  position: absolute;
  width: 45px;
  height: 75px;
  background: url("../../image/prev.jpg") center no-repeat;
  left: 0;
  bottom: 120px;
  text-indent: -99em;
  opacity: 0.2;
}
.content #team_prev:hover {
  opacity: 1;
  -moz-transition-duration: 3s;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}
.content #team_next {
  position: absolute;
  width: 45px;
  height: 75px;
  background: url("../../image/next.jpg") center no-repeat;
  right: 0;
  bottom: 120px;
  text-indent: -99em;
  opacity: 0.2;
}
.content #team_next:hover {
  opacity: 1;
  -moz-transition-duration: 3s;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}
footer {
  width: 100%;
  background-color: #333333;
  margin-top: 125px;
}
footer #footer {
  width: 1205px;
  height: 290px;
  margin: 0 auto;
}
footer #footer .footer_nav {
  width: 140px;
  height: 140px;
  border-left: 1px solid #999999;
  float: left;
  display: inline;
  margin-top: 80px;
}
footer #footer .footer_nav:nth-child(6) {
  border-right: 1px solid #999999;
}
footer #footer .footer_nav ul {
  margin-left: 30px;
}
footer #footer .footer_nav li {
  list-style: none;
  margin-bottom: 2px;
  cursor: pointer;
}
footer #footer .footer_nav li a {
  font-size: 10px;
  font-weight: normal;
  color: #999999;
}
footer #footer .footer_nav li a:hover {
  color: #33ccff;
}
footer #footer .footer_nav li:first-child a {
  font-size: 15px;
  color: #ffffff;
}
footer .contact {
  width: 260px;
  height: 115px;
  float: left;
  display: inline;
  margin-left: 8%;
  margin-top: 80px;
}
footer .contact img {
  width: 115px;
  height: 100%;
  padding-left: 10px;
}
footer .about {
  width: 1090px;
  margin-left: 23.4%;
  margin-top: 30px;
  *zoom: 1;
}
footer .about:before,
footer .about:after {
  display: table;
  content: "";
}
footer .about:after {
  clear: both;
}
footer .about > p {
  width: 140px;
  height: 35px;
  background: url("../../image/about_new.jpg") center no-repeat;
  text-indent: -99em;
  float: left;
  display: inline;
  margin-bottom: 50px;
}
footer .about div {
  width: 330px;
  height: 36px;
  float: left;
  display: inline;
  margin-left: 35px;
  margin-bottom: 50px;
}
footer .about div p {
  font-size: 10px;
  color: #ffffff;
  line-height: 1.5em;
}
footer .about div p:last-child {
  color: #6699cc;
}
footer .about_our {
  float: right !important;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  color: #ffffff;
  height: 20px !important;
}
footer .about_our a {
  font-size: 15px;
  color: #ffffff;
  padding: 0 8px;
}
footer .about_our a:hover {
  color: #33ccff;
}
footer .chat {
  width: 85px;
  height: 35px;
  position: relative;
  top: -60px;
  margin-left: 1410px;
}
footer .chat img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
footer .chat img:hover {
  width: 30px;
  height: 30px;
}
@keyframes changewidth {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.font_color {
  color: #999999;
}
img {
  width: 100%;
  height: 300px;
}
.ti_nav {
  margin-top: 50px;
  border-bottom: 1px #999999 solid;
  *zoom: 1;
}
.ti_nav:before,
.ti_nav:after {
  display: table;
  content: "";
}
.ti_nav:after {
  clear: both;
}
.ti_nav ul {
  width: 1528px;
  /* margin-left: @left_w; */
  margin-left: 19.5%;
  *zoom: 1;
  margin-bottom: 15px;
}
.ti_nav ul:before,
.ti_nav ul:after {
  display: table;
  content: "";
}
.ti_nav ul:after {
  clear: both;
}
.ti_nav .on {
  border: 1px #33ccff solid;
  background-color: #33ccff;
}
.ti_nav .on a {
  color: #ffffff;
}
.ti_nav li {
  width: 98px;
  height: 28px;
  float: left;
  margin-right: 30px;
  border: 1px #333333 solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.ti_nav li:hover {
  border: 1px #33ccff solid;
  background-color: #33ccff;
}
.ti_nav li:hover a {
  color: #ffffff;
}
.ti_nav li a {
  color: #333333;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  line-height: 28px;
}
.ti_nav .positionl {
  /* margin-right: 360px; */
  margin-right: 23.5%;
  float: right;
  display: inline;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  color: #333333;
}
.ti_nav .positionl img {
  width: 15px;
  height: 20px;
  position: relative;
  top: 5px;
}
.ti_nav .positionl a {
  color: #333333;
}
.ti_nav .positionl a:hover {
  color: #33ccff;
  text-decoration: underline;
}
.ti_nav .positionl a:last-child {
  color: #33ccff;
  text-decoration: underline;
}
.introduction_content {
  width: 1035px;
  margin: 0 auto;
  margin-top: 105px;
}
.introduction_content img {
  width: 800px;
  height: 530px;
  display: block;
  margin: 0 auto;
}
.introduction_content .team_content {
  margin-top: 75px;
}
.introduction_content .team_content p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  text-indent: 2em;
  line-height: 2em;
}
.structure {
  width: 975px;
  margin: auto;
}
.structure .p_structure {
  position: relative;
  text-align: center;
  margin-top: 55px;
  color: #000000;
}
.structure .p_structure:nth-child(2) {
  margin-top: 100px;
  padding-bottom: 80px;
}
.structure .p_structure h1 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 25px;
  font-weight: normal;
}
.structure .p_structure div {
  width: 198px;
  height: 48px;
  border: 1px solid #33ccff;
  line-height: 48px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 25px;
  font-weight: normal;
  margin: auto;
  margin-top: 40px;
}
.structure .p_structure .border_hr {
  margin-top: -25px;
  height: 0;
  width: 235px;
  border: none;
  border-bottom: 1px solid #33ccff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.structure .p_structure .border_h {
  margin-top: -85px;
  height: 165px;
  width: 0;
  border: none;
  border-left: 1px solid #33ccff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.structure .p_structure .tea_left {
  margin-left: 155px;
  margin-top: 90px;
}
.structure .p_structure .tea_right {
  margin-right: 155px;
  margin-top: -110px;
}
.structure .p_structure .hr_float {
  float: left;
  display: inline;
  position: relative;
  left: 90px;
  width: 259px;
  top: 20px;
  border-right: none;
  border-bottom: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.structure .p_structure .br_right {
  border-right: 1px solid #33ccff;
}
.structure .p_structure .fl_left {
  border: none;
  width: 100%;
  height: 100%;
  *zoom: 1;
}
.structure .p_structure .fl_left:before,
.structure .p_structure .fl_left:after {
  display: table;
  content: "";
}
.structure .p_structure .fl_left:after {
  clear: both;
}
.structure .p_structure .fl_left div {
  float: left;
  display: inline;
  margin-right: 55px;
  margin-top: 30px;
}
.structure .p_structure .fl_left div:last-child {
  margin-right: 0;
}
.structure .p_structure .vertical {
  position: absolute;
  margin: auto 0;
  top: 215px;
  bottom: 0;
  left: 0;
  right: 0;
}
.structure .p_structure .vertical_h {
  width: 83px;
  height: 1758px;
  border: 1px solid #33ccff;
  border-right: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-left: 285px;
  margin-top: 115px;
}
.structure .p_structure .vertical_h div {
  margin-top: -25px;
  margin-left: 95px;
}
.structure .p_structure .vertical_h div:nth-child(2) {
  margin-top: 175px;
  height: 0;
  width: 82px;
  margin-left: 0;
  border-bottom: none;
}
.structure .p_structure .vertical_h .border_bottom {
  width: 170px;
  height: 1px;
  border: none;
  border-top: 1px solid #33ccff;
  margin-left: 210px !important;
}
.structure .p_structure .vertical_h .border-height {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 84px !important;
  height: 210px !important;
  border: 1px solid #33ccff !important;
  border-right: none !important;
  margin-top: -105px !important;
  margin-left: 295px !important;
}
.structure .p_structure .vertical_h .div_right {
  position: relative;
  margin-left: 390px ;
  top: -210px;
  margin-bottom: 80px;
}
.structure .p_structure .vertical_h #jiaodian {
  position: relative;
  bottom: -160px;
}
.structure .p_structure .vertical_h .wangku_w {
  margin-top: 595px;
  height: 0;
  width: 82px;
  margin-left: 0;
  border-bottom: none;
}
.structure .p_structure #IT {
  width: 170px;
  border: none;
  border-top: 1px solid #33ccff;
  height: 0;
  margin-top: 725px;
  margin-left: -80px;
}
.structure .p_structure .Technology_Group .border-height {
  height: 1023px !important;
  margin-top: -530px !important;
}
.structure .p_structure .Technology_Group .border-height div:nth-child(2n) {
  margin-top: 100px;
  height: 0;
  width: 82px;
  margin-left: 0;
  border-bottom: none;
}
.structure .p_structure .Technology_Group .border-height div:nth-child(8) {
  width: 170px;
  height: 1px;
  border: none;
  border-top: 1px solid #33ccff;
  margin-left: -85px !important;
}
.structure .p_structure .Technology_Group .border-height div:nth-child(2n-1) {
  top: 0;
  margin-left: 95px;
}
.structure .p_structure .Technology_Group .border-height div:last-child {
  width: 198px;
  height: 48px;
  top: -10px;
  margin-left: 95px;
  position: relative;
  border-bottom: 1px solid #33ccff;
  margin-bottom: 80px;
}
.journey {
  width: 1325px;
  margin: auto;
  margin-top: 55px;
}
.journey h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
  font-weight: lighter;
  color: #000000;
  text-align: center;
}
.journey .road {
  width: 45px;
  height: 1287px;
  background: url("../../image/post.jpg") no-repeat;
  margin: 40px auto 0 auto;
}
.journey .journey_content {
  position: relative;
}
.journey .journey_left {
  position: absolute;
  width: 600px;
  top: 0;
}
.journey .journey_left img {
  width: 220px;
  height: 140px;
  float: right;
  display: inline;
}
.journey .journey_left p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  width: 360px;
  line-height: 1.5em;
  text-align: right;
  font-weight: lighter;
  color: #000000;
  float: left;
  display: inline;
}
.journey .journey_left p span {
  display: block;
}
.journey .journey_left:nth-child(4) {
  top: 790px;
}
.journey .journey_left:nth-child(6) {
  top: 1600px;
}
.journey .journey_right {
  position: absolute;
  width: 600px;
  top: 330px;
  right: 0;
  float: right;
  display: inline;
}
.journey .journey_right img {
  width: 220px;
  height: 140px;
  float: left;
  display: inline;
}
.journey .journey_right p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  width: 360px;
  line-height: 1.5em;
  text-align: left;
  font-weight: lighter;
  color: #000000;
  float: right;
  display: inline;
}
.journey .journey_right p span {
  display: block;
}
.journey .journey_right:nth-child(5) {
  top: 1140px;
}
.journey .journey_right:nth-child(7) {
  top: 2010px;
}
.teacher_power {
  width: 1050px;
  margin: auto;
  margin-top: 110px;
}
.teacher_power > div {
  margin-bottom: 40px;
}
.teacher_power .mentor_left {
  width: 1048px;
  height: 398px;
  border: 1px solid #999999;
  position: relative;
  clear: both;
}
.teacher_power .mentor_left img {
  width: 330px;
  height: 398px;
  float: left;
  display: inline;
}
.teacher_power .mentor_left span {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-width: 30px 30px 30px 0px;
  border-style: solid;
  border-color: transparent #fff;
  top: 165px;
  left: 300px;
  /* 三角形居中显示 */
}
.teacher_power .mentor_left .teacher_introduce {
  float: right;
  display: inline;
  width: 678px;
  height: 398px;
  position: relative;
  top: -60px;
}
.teacher_power .mentor_left .teacher_introduce h1 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 45px;
  margin-top: 40px;
}
.teacher_power .mentor_left .teacher_introduce h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 30px;
  color: #999999;
  margin: 15px auto;
}
.teacher_power .mentor_left .teacher_introduce p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5em;
}
.teacher_power .mentor_right {
  width: 1048px;
  height: 398px;
  border: 1px solid #999999;
  position: relative;
}
.teacher_power .mentor_right img {
  width: 330px;
  height: 398px;
  float: right;
  display: inline;
  position: absolute;
  right: 0;
}
.teacher_power .mentor_right span {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-width: 30px 0px 30px 30px;
  border-style: solid;
  border-color: transparent #fff;
  top: 165px;
  left: 718px;
  /* 三角形居中显示 */
}
.teacher_power .mentor_right .teacher_introduce {
  float: left;
  display: inline;
  width: 678px;
  height: 398px;
  position: relative;
  margin-left: 40px;
  top: -60px;
}
.teacher_power .mentor_right .teacher_introduce h1 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 45px;
  margin-top: 40px;
}
.teacher_power .mentor_right .teacher_introduce h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 30px;
  color: #999999;
  margin: 15px auto;
}
.teacher_power .mentor_right .teacher_introduce p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5em;
}
.team_station {
  width: 1185px;
  height: 925px;
  background: url("../../image/station.jpg") no-repeat;
  margin: auto;
  margin-top: 110px;
}
.group_content {
  width: 1155px;
  margin: auto;
}
.group_content .group_nav {
  margin-top: 50px;
  *zoom: 1;
}
.group_content .group_nav:before,
.group_content .group_nav:after {
  display: table;
  content: "";
}
.group_content .group_nav:after {
  clear: both;
}
.group_content .group_nav ul {
  width: 1155px;
  *zoom: 1;
  margin-bottom: 15px;
}
.group_content .group_nav ul:before,
.group_content .group_nav ul:after {
  display: table;
  content: "";
}
.group_content .group_nav ul:after {
  clear: both;
}
.group_content .group_nav li {
  width: 98px;
  height: 28px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  border: 1px #333333 solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.group_content .group_nav li:hover {
  border: 1px #33ccff solid;
  background-color: #33ccff;
}
.group_content .group_nav li:hover a {
  color: #ffffff;
}
.group_content .group_nav li:nth-child(8) {
  margin-right: 0;
}
.group_content .group_nav li a {
  color: #333333;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  line-height: 28px;
}
.group_content .group_news {
  width: 1115px;
  margin: auto;
  margin-top: 30px;
}
.group_content .group_news .group_new {
  width: 1115px;
  height: 300px;
  margin: auto;
  margin-bottom: 110px;
}
.group_content .group_news .group_new img {
  width: 300px;
  height: 300px;
  float: left;
  display: inline;
}
.group_content .group_news .group_new .group_introduce {
  width: 760px;
  height: 300px;
  float: right;
  display: inline;
}
.group_content .group_news .group_new .group_introduce h1 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 45px;
}
.group_content .group_news .group_new .group_introduce h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 24px;
  color: #999999;
  margin: 5px auto;
}
.group_content .group_news .group_new .group_introduce p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-weight: normal;
  font-size: 18px;
  color: #999999;
  line-height: 1.6em;
}
.group_content .group_news .group_new .group_introduce a {
  float: right;
  display: inline;
  position: relative;
  bottom: 20px;
  color: #33ccff;
}
/*团队照片*/
.team_pic {
  width: 985px;
  margin: auto;
  margin-top: 85px;
  *zoom: 1;
}
.team_pic:before,
.team_pic:after {
  display: table;
  content: "";
}
.team_pic:after {
  clear: both;
}
.team_pic .pic_w {
  width: 255px;
  height: 280px;
  float: left;
  display: inline;
  margin-right: 105px;
  margin-bottom: 65px;
}
.team_pic .pic_w:nth-child(3n) {
  margin-right: 0;
}
.team_pic .pic_w:hover .team_bg {
  position: relative;
  left: 10px;
  top: 10px;
}
.team_pic .team_photo {
  width: 253px;
  height: 278px;
  position: relative;
  top: -280px;
  border: 1px solid #999999;
  background-color: #f6f7f9;
}
.team_pic .team_photo img {
  width: 253px;
  height: 225px;
}
.team_pic .team_photo .photo_text h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  font-weight: normal;
  margin-left: 25px;
}
.team_pic .team_photo .photo_text p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  color: #999999;
  margin-left: 25px;
}
.team_pic .team_bg {
  width: 253px;
  height: 278px;
  border: 1px solid #999999;
  background-color: #f6f7f9;
}
/*团队视频*/
.team_videos {
  width: 1075px;
  margin: auto;
  margin-top: 85px;
  *zoom: 1;
}
.team_videos:before,
.team_videos:after {
  display: table;
  content: "";
}
.team_videos:after {
  clear: both;
}
.team_videos .team_video {
  position: relative;
  float: left;
  display: inline;
  width: 280px;
  height: 225px;
  margin-right: 115px;
  margin-bottom: 20px;
}
.team_videos .team_video:nth-child(3n) {
  margin-right: 0;
}
.team_videos .team_video:hover a {
  display: block;
}
.team_videos .team_video:hover .play {
  display: block;
}
.team_videos .team_video > img {
  width: 280px;
  height: 158px;
  background-color: #7f7f7f;
}
.team_videos .team_video a {
  height: 158px;
  width: 280px;
  background-color: #7f7f7f;
  position: absolute;
  top: 0;
  opacity: .6;
  display: none;
}
.team_videos .team_video .play {
  position: absolute;
  left: 0;
  right: 0;
  width: 70px;
  height: 70px;
  top: 45px;
  margin: auto;
  display: none;
}
.team_videos .team_video .video_text h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 20px;
  color: #484848;
  font-weight: normal;
  margin-left: 25px;
}
.team_videos .team_video .video_text p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 15px;
  color: #999999;
  margin-left: 25px;
}
/*联系我们*/
.contact_us {
  width: 540px;
  margin-left: 20%;
  margin-top: 85px;
}
.contact_us .contact_QW {
  width: 540px;
  height: 500px;
  margin-bottom: 30px;
}
.contact_us .contact_QW > h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
  font-weight: normal;
  width: 250px;
  background-image: url(../../image/lili.png);
  background-repeat: no-repeat;
  background-position: -250px 0px;
  transition: all 1s ease;
  text-decoration: none;
  padding-left: 30px;
  letter-spacing: 2px;
}
.contact_us .contact_QW > h2:hover {
  background-position: 0px 0px;
}
.contact_us .contact_QW > img {
  width: 90px;
  height: 90px;
  margin-left: 70px;
  margin-top: 50px;
}
.contact_us .contact_QW .contact_pic {
  float: right;
  display: inline;
  margin-top: 50px;
}
.contact_us .contact_QW .contact_pic h2 {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 40px;
  font-weight: normal;
  color: #33ccff;
}
.contact_us .contact_QW .contact_pic p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
}
.contact_us .contact_QW .contact_pic img {
  width: 290px;
  height: 290px;
  margin-top: 20px;
}
.contact_us .contact_QW .contact_main {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
  font-weight: normal;
  margin-top: 40px;
  padding-left: 30px;
  margin-left: 0 !important;
}
.contact_us .contact_QW > p {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
  line-height: 2em;
  margin-left: 30px;
}
.contact_us .contact_QW > p:nth-child(3) {
  background: url("../../image/phone.png") left no-repeat;
  background-size: 40px;
  padding-left: 80px;
}
.contact_us .contact_QW > p:nth-child(4) {
  background: url("../../image/qq3.png") left no-repeat;
  background-size: 40px;
  padding-left: 80px;
}
.contact_us .contact_QW > p:nth-child(5) {
  background: url("../../image/youxiang.png") left no-repeat;
  background-size: 40px;
  padding-left: 80px;
}
.contact_us .contact_QW:last-child {
  height: 330px;
}
.contact_us .contact_width {
  width: 575px;
}
